.cardContainer {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
    /* border: 0.5px solid black; */
    
}

.cardContainer:hover{
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.08);
    transition: 0.3s;
    cursor: pointer;
    /* z-index: -1; */
}
.imageContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
}

.detailContainer{
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.titleContainer{
    width: 160px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: clip;
}

.buttonContainer{
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
   
}