





.cardContainer {
    display: flex;
    justify-content: space-between;
    width: 330px;
    /* height: 150px; */
    padding: 5px;
    margin: 10px;
    /* margin: 15px; */
    background-color: #fff;
    border-bottom: 0.3px solid rgba(83, 81, 81, 0.096);
}

.cardContainer:hover{
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.08);
    transition: 0.3s;
    cursor: pointer;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 8px;
}

.detailContainer{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 4px;
}

.buttonContainer{
    padding-top: 6px;
    margin: 0px 0px 10px 0px;
}

p{
    padding: 7px;
}